doctype html
html(lang="en")

  head
    title dspv - encoded
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="DSPV is a tool for making videogambs.")

    // styles
    style#base-style
      include ../styles/vendor/new.css
      include ../styles/dspv.css    


  body
    h1 teste
    .loader(
      x-data = `{ file: ""}`
      x-init="file = ''"
      @load.window="console.log('loaded'); file = myInfo;")
      video(:src="file" style="width:300px;" controls)
      p(x-show="file==''") Video loading...


    // vendor scripts
    script
      include ../scripts/vendor/alpine.min.js

    script
      //- commented out to speed builds
      //- | const myInfo  = 
      //- include ./output.txt
      //- | ;